@model Cykelnet.Models.Events.RouteCreatedEvent

<img src='@Url.Action("ProfileAvatar", "Image", new { id = Model.mEventCreator })' alt="avatar" class="avatar" />
<div class="event-user-name">
	@Html.ActionLink(AuthenticationHelper.getVersionedUser(Model.mEventCreator, false).FullName, "PublicProfile", "Account", new { id = (Guid)Model.mEventCreator }, new { Class = "event-creator" })
    created a new route: @Cykelnet.Models.RouteModel.getRouteName(Model.mRouteId)
</div>